Redirect 410 /category/uncategorized/
Redirect 410 /wp-content/themes/pavankumar/resume.pdf
Redirect 410 /author/Pavankumar/
Redirect 410 /author/Pavankumar/feed/
Redirect 410 /wp-content/themes/twentytwentyone/assets/js/polyfills.js?ver=1.5
Redirect 410 /hello-world/
Redirect 410 /2022/02/26/hello-world/